* {
  box-sizing: border-box;
}

body {
  background-color: #5cdb95;
  margin: 50px auto;
  max-width: 500px;
}

h1 {
  font-size: 3rem;
  color: #05386b;
  text-align: center;
}

h3{
  font-size: 1.5rem;
  text-align: center;
  margin-top: 30px;
  color: #069044;
}

.wrapper{
  position: relative;
  
}

.wrapper input[type="text"]{
  width: 100%;
  padding: 1rem;
  border-radius: .4em;
  border: none;
  background-color: #edf5e1;
  font-size: 1.2rem;
  outline: none;
  color: #05386b;
}

::placeholder{
  color: #05386b;
  font-size: 1.2rem;
}


.wrapper .btn-add{
  position: absolute;
  background-color: #05386b;
  color: #edf5e1;
  right: 5px;
  top: 7px;
  width: 20%;
  padding: .5em;
  border-radius: .4em;

}

.incompelete{
  margin-top: 30px;
}

.list-item{
  display: flex;
  border: 2px solid #edf5e1;
  padding: .5rem;
  border-radius: .4em;
  margin-bottom: 14px;
  color: #05386b;
  font-size: 1.2rem;
  flex-direction: column;
  gap: .6rem;
}

.list-item form{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.compelete{
  border-color: #069044;
  color: #069044;
}





.btn{
  border: none;
  outline: none;
  background: none;
  font-size: 1.1rem;
}

.btn-check{
  color: #05386b;
}

.btn-trash{
  color: #e33131;
}

.btn-uncheck{
  color: #069044;
}


.error-msg{
  color: #e33131;
}

.success-msg{
  color: #069044;
}