* {
  box-sizing: border-box;
}

body {
  background-color: #5cdb95;
  margin: 50px auto;
}

h1 {
  font-size: 3rem;
  color: #05386b;
}

.application {

  max-width: 500px;
}

.incompelete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.compelete-list,.incompelete-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.2rem;

}



.compeleted{
    margin-bottom: 60px;
}

.create-task {
  display: flex;
  flex-direction: column;

}

.create-task .wrapper{
  display: flex;
}

.create-task .task {
  width: 80%;
  padding: 0.6rem 0.6rem;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  border: 2px solid #edf5e1;
  border-right: none;
  background-color: transparent;
  outline: none;
}

::placeholder {
  font-size: 1rem;
  color: #05386b;
}

.create-task .add-btn {
  width: 20%;
  border-top-right-radius: 0.3em;
  border-bottom-right-radius: 0.3rem;
  border: none;
  font-size: inherit;
  background-color: #05386b;
  color: #edf5e1;
}

li {
  border-radius: 0.3em;
  border: 2px solid #edf5e1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0.6rem 1.2rem;
  color: #05386b;
  width: 100%;
}

li > form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

h3 {
  color: rgb(21, 100, 21);
  font-size: 1.2rem;
}

.check,
.delete,
.uncheck {
  border: none;
  background-color: transparent;
  font-size: 0.9rem;
}

.check {
  color: #05386b;
}

.delete {
  color: #fc4445;
}

.uncheck {
  color: rgb(21, 100, 21);
}

button:hover {
  opacity: 0.7;
}



    

.err-msg{
  color: #fc4445;
}

.suce-msg{
  color: rgb(21, 100, 21);
}